.sideMenu-container {
  padding: 30px 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 0px -8px, rgba(50, 50, 93, 0.25) 5px 9px 27px -5px;
  border-bottom-right-radius: 10px;
  height: 100vh;
  padding-right: 15px;
  width: 15rem;

  .sideMenu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      //background-color: #40C1AE29;
      border-radius: 5px;
      color: var(--primary-color);
      cursor: pointer;
      //transition: background-color 1s;
      font-size: 15px;

      &:hover {
        //background-color: var(--primary-color);
        //color: white;
      }
    }
  }

  .bottom-menu {
    display: none;

    .bottom-menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }

      .home {
        color: var(--primary-color);
        transition: color 0.3s;

        &:hover {
          color: var(--primary-color);
        }
      }

      .video-module {
        color: var(--body-color2);
        transition: color 0.3s;

        &:hover {
          color: var(--primary-color);
          transition: color 0.3s;
        }
      }

      span {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .sideMenu-container {
    padding: 0 15px;
    height: 100px;
    align-content: center;
    width: 100%;

    .sideMenu-list {
      display: none;
    }

    .bottom-menu {
      display: block;
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 750px) {

  .sideMenu-container {
    padding: 0 25px;
    height: 100px;
    align-content: center;
    width: 100%;

    .sideMenu-list {
      display: none;
    }

    .bottom-menu {
      display: block;
    }
  }

}

@media only screen and (min-width: 751px) and (max-width: 1000px) {

  .sideMenu-container {
    padding: 0 25px;
    height: 100px;
    align-content: center;
    width: 100%;

    .sideMenu-list {
      display: none;
    }

    .bottom-menu {
      display: block;
    }
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

  .sideMenu-container {
    padding: 50px 2rem !important;
    padding-right: 10px !important;
  }
}