.login-container {
  height: 100vh;
  width: 100%;
  align-content: center;
  background-image: url("./loginPageBackground.jpeg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  .login-form {
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;

    .login-page-logo {
      vertical-align: middle;
      width: 15rem;
    }

    .email-password-field {
      width: 90%;
      margin: 0 auto;
    }

    .login-btn {
      width: 90%;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
