.thumbnail-upload-box {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //margin: 20px;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: lightgray;
  border: 1px solid #ccc;
  border-radius: 5px;

  //.thumbnail-upload-container {
    //width: 450px;
    //margin: auto;
    //padding: 2rem;
    //background: #ffffff;
    //border-radius: 25px;
    //box-shadow: 7px 20px 20px rgb(210, 227, 244);

    .thumbnail-upload {
      width: 100%;
      text-align: center;
      //border: 3px dashed rgb(210, 227, 244);
      //padding: 1.5rem;
      position: relative;

      .thumb-upload-icon {
        border: 2px solid var(--primary-color);
        font-size: 25px;
        padding: 10px;
        border-radius: 50%;
        color: var(--primary-color);
      }

      h3 {
        font-size: 15px;
        max-width: 160px;
        color: var(--primary-color);
        margin: 0 auto;
      }

      input {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  //}

}

.thumbnail-upload input[type="file"] {
  margin-bottom: 10px;
}

.thumbnail-upload .error {
  color: red;
  margin-bottom: 10px;
}

.thumbnail-preview {
  width: 150px;
  //width: inherit;
  height: 25vh;
  object-fit: cover;
  //margin-bottom: 10px;
  padding: 6px 0;
}

.thumbnail-upload button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.thumbnail-upload button:hover {
  background-color: #0056b3;
}
