.sideMenuLayout-container {
  //display: flex;
  //gap: 2rem;
  //background-color: rgba(224, 228, 232, 0.11);
  display: grid;
  gap: 10rem;
  background-color: rgba(224, 228, 232, 0.11);
  grid-template-columns: 20rem auto;
}