.sideMenuLayout-container {
}

.open {
  display: none;
}

.sideMenuCom {
  width: 100%;
  max-width: 15rem;
  position: absolute;
}

@media only screen and (min-width: 50px) and (max-width: 500px) {

  .sideMenuLayout-container {
    .sideMenuCom {
      bottom: 0;
      position: fixed;
      max-width: 100%;
      z-index: 11;
      background-color: white;
    }
  }

}

@media only screen and (min-width: 501px) and (max-width: 750px) {
  .sideMenuLayout-container {
    .sideMenuCom {
      bottom: 0;
      position: fixed;
      max-width: 100%;
      z-index: 11;
      background-color: white;
    }
  }
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {

  .sideMenuLayout-container {
    .sideMenuCom {
      bottom: 0;
      position: fixed;
      max-width: 100%;
      z-index: 11;
      background-color: white;
    }
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .sideMenuLayout-container {
    .sideMenuCom {
      max-width: 13rem !important;
    }
  }
}