.home-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15rem;
  margin-bottom: 10rem;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 190px;

  .home-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    gap: 10px;
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 64px;
    position: fixed;
    width: 100%;
    right: 0;
    padding-left: 16.5rem;
    padding-right: 15px;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .home-header-left {
      max-width: 1000px;
      width: 100%;
      align-items: center;
    }

    .home-select-field {
      width: 50%;
      height: 50px;
      max-width: 650px;
      align-content: center;
      position: relative;
      font-weight: 500;

      .selected-option-close {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
      }

      .css-13cymwt-control {
        height: 45px;
      }

      .css-art2ul-ValueContainer2 {
        height: 45px !important;
      }
    }

    .back-btn-allPage {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--body-color2);
      transition: color 2s;

      &:hover {
        color: var(--primary-color);
        transition: color 2s;
      }
    }


  }

  .video-card-container {
    position: relative;
    padding: 0 25px;

    .video-category-title {
      font-weight: 800;
      text-transform: capitalize;
      margin-bottom: 0;
      margin-right: 10px;
    }

    .view-all-btn {
      padding: 5px 0px;
      border-radius: 20px;
      font-weight: 600;
      width: 100px;
    }

    .video-all-card {
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      justify-content: space-between;
      overflow: hidden;

      .single-video-card {
        margin-bottom: 20px;

        .video-thumbnail {
          position: relative;
          cursor: pointer;

          .video-thumbnail-img {
            position: relative !important;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              border-radius: 10px;
              object-fit: cover;
              display: block;
            }

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0);
              transition: background 0.3s ease;
              border-radius: 10px;
            }

            &:hover .overlay {
              background: rgba(0, 0, 0, 0.3);
            }

            .play-icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 30px;
              color: var(--primary-color);
              z-index: 2;
              display: none;
            }

            .video-checkbox {
              position: absolute;
              top: 10px;
              left: 10px;
              width: 22px;
              height: 22px;
              z-index: 3;
              display: none;
            }

            .video-checkbox-visibility {
              display: block;
            }

            .three-dot-option {
              position: absolute;
              top: 10px;
              right: 10px;
              background-color: white;
              padding: 5px;
              border-radius: 50%;
              z-index: 3;
              color: black;
              display: none;
            }

            .three-dot-visibility {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover .play-icon,
            &:hover .video-checkbox,
            &:hover .three-dot-option {
              display: flex;
            }

            .edit-del-down-box {
              position: absolute;
              top: 7px;
              right: 10px;
              background: white;
              border-radius: 8px;
              //padding: 5px 0;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 12px 24px rgba(0, 0, 0, 0.25);
              z-index: 999;
              display: flex;
              flex-wrap: wrap;

              .edit-del-down {
                padding: 8px;
                font-size: 12px;
                color: #333;
                white-space: nowrap;
                transition: 0.2s;
                display: flex;
                align-items: center;
                gap: 3px;
                border-radius: 8px;

                &:hover {
                  background: #f5f5f5;
                  color: var(--primary-color);
                }

                svg {
                  font-size: 12px;
                }
              }
            }

            .d-none {
              display: none !important;
            }

          }
        }

        .three-dot-option {
          width: 13px;
          height: 13px;
        }


      }
    }

    .swiper-left-button,
    .swiper-right-button {
      position: absolute;
      top: 50%; // ✅ vertical center
      transform: translateY(-50%); // ✅ perfect center
      width: 36px;
      height: 36px;
      background-color: whitesmoke;
      border-radius: 50%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      svg {
        font-size: 16px;
        color: var(--body-color);
      }
    }

    .swiper-left-button {
      left: 10px; // ✅ thumbnail-er vitore thakbe
    }

    .swiper-right-button {
      right: 10px; // ✅ thumbnail-er vitore thakbe
    }

 .swiper-button-disabled {
  pointer-events: none;
  opacity: 0.3;
}


  }

  .sort-next-prev-view-all {
    position: absolute;
  }

  .list-video-all-Card {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;

    .swiper-wrapper {
      flex-direction: initial !important;
    }

    .sort-single-video-card {
      display: grid;
      grid-template-columns: 40% 43%;
      gap: 20px;
      margin-top: 0 !important;
      margin-bottom: 15px;
      position: relative;

      .video-thumbnail {

        .video-thumbnail-img {

          .overly-control {
            position: relative;

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0); /* Initially transparent */
              transition: background 0.3s ease; /* Smooth transition */
              border-radius: 5px;
              z-index: 9999;
            }

            &:hover .overlay {
              background: rgba(0, 0, 0, 0.31);
            }
          }

          img {
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
          }

          .play-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            color: var(--primary-color);
            display: none;
            z-index: 1;
          }

          .video-checkbox {
            position: absolute;
            left: 15px;
            top: 15px;
            width: 25px;
            height: 25px;
            z-index: 1;
            display: none;
          }

          .video-checkbox-visibility {
            display: flex;
          }

          .three-dot-option {
            position: absolute;
            top: 3px;
            right: 15px;
            background-color: #eceaea;;
            width: 20px;
            height: 20px;
            padding: 5px;
            border-radius: 50%;
            z-index: 1;
            color: var(--body-color);
          }

          .message-angel {
            rotate: 30deg;
            top: 49px;
            position: absolute;
            right: 30px;
            z-index: 2;
            color: white;
          }

          .edit-del-down-box {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 60px;
            right: 15px;
            background-color: white;
            border-radius: 6px;
            padding: 10px;
            gap: 3px;
            font-size: 14px;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .edit-del-down {
              color: var(--body-color);

              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }

}


//button custom---------------------

.add-module-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s;
  text-wrap: nowrap;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0000000d;
    transition: left 0.5s;
    z-index: 1;
  }

  &:hover::before {
    left: 0;
  }

  &:hover {
    color: var(--primary-color);
  }
}

.upload-module-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--section-bg);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s;
  text-wrap: nowrap;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }

  &:hover::before {
    opacity: 0.1;
  }
}

.btn-unactive {
  background-color: var(--section-bg);
  color: var(--body-color);
  border: 1px solid var(--body-color);
  padding: 4px 12px;
  font-size: 23px;

  &:hover {
    color: var(--body-color);
    border-color: var(--body-color);
  }
}


.btn-active {
  background-color: var(--section-bg);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 23px;
  cursor: not-allowed !important;
}

.swiper-button-prev, .swiper-button-next {
  font-size: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(100, 100, 100, 0.4509803922);
  color: #555;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    display: none;
  }

  svg {
    width: 50%;
    height: auto;
    color: gray;
  }
}

.slider-btn-disabled, .slider-btn-disabled-sort {
  opacity: 0.5;
}


//----------------------------------------------------------------


//-----modal video player--------------


.video-player-modal {

  .modal-content {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .modal-body {
    padding: 1px !important;
  }

  .share-option {
    background-color: var(--body-color);
    color: var(--section-bg);
    position: absolute;
    right: 50px;
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
  }

  .video-modal-close-btn {
    background-color: var(--body-color);
    color: var(--section-bg);
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
  }

  .message-angel-share-modal {
    position: absolute;
    rotate: 30deg;
    color: white;
    top: 50px;
    right: 65px;
  }

  .share-edit-del-down-box {
    position: absolute;
    right: 50px;
    top: 60px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 15px;
    color: var(--body-color);

    .share-edit-del-down {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .video-title-modal {
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .video-player-description {
    padding-left: 15px;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 20px;
  }

}

//----------------------file upload modal------------------------------------------

.video-upload-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; // Don't stick to top
  overflow-y: auto;
  padding: 60px 20px; // top-bottom: 60px, left-right: 20px
}


.video-upload-modal-wrapper {
  width: 100%;
  max-width: 850px;
}

.video-upload-modal-container {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.select-add-module {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.modal-module-select__control {
  height: 46px;
  border: 1px solid #ccc;
  box-shadow: none !important;
  outline: none !important;
}

.modal-module-select__control--is-focused {
  border-color: #ccc !important;
  box-shadow: none !important;
  outline: none !important;
}


.video-modal-select-field {
  flex: 1;
}

.add-module-button {
  white-space: nowrap;
}

.title-label-class {
  font-size: 20px !important;
  font-weight: 700;
}

.video-modal-input-title {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc !important;
  height: 46px !important;
}

.video-modal-input-title:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

.textarea-label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
  font-size: 20px;
}

.custom-textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  font-family: inherit;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    outline: none;
    border-color: #005fcc;
    box-shadow: 0 0 5px rgba(0, 95, 204, 0.5);
  }
}

.add-modal-button {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.video-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

//----------------------------------------------------------------

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed !important;
}


@media only screen and (min-width: 0px) and (max-width: 500px) {
  .home-container {
    padding-left: 0px;

    .home-top {
      gap: 10px;
      padding: 0 15px !important;

      .home-select-field {
        width: 98%;
      }

      .module-btn, .upload-video-btn {
        display: none;
      }
    }

    .video-category-title {
      font-size: 16px;
    }

    .video-all-card {
      grid-template-columns: 48% 48% !important;
    }

    .list-video-all-Card {
      .video-checkbox {
        left: 5px !important;
        top: 5px !important;
        width: 20px !important;
        height: 20px !important;
      }

      .three-dot-option {
        right: 0px !important;
      }
    }

  }
  .video-upload-modal-container {
    margin-bottom: 100px;

    .add-module-btn-text {
      display: none;
    }
  }
}


@media only screen and (min-width: 501px) and (max-width: 750px) {
  .home-container {
    padding-left: 0;

    .home-top {
      padding: 0 25px !important;
      gap: 15px;

      .home-select-field {
        width: 100%;
      }

      .module-btn, .upload-video-btn {
        display: none;
      }
    }

    .video-all-card {
      grid-template-columns: 32% 32% 32% !important;
    }
  }
}


@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .home-container {
    margin-bottom: 100px;
    padding-left: 0;

    .home-top {
      padding: 0 25px !important;
      gap: 15px;

      .module-btn, .upload-video-btn {
        display: none;
      }

      .home-select-field {
        width: 100%;
      }
    }
  }
}
